<mat-toolbar color="primary">
  <img src="assets/svg/logo.svg" />
  <span class="space-between"></span>
  <button
    mat-button
    class="item"
    [routerLink]="['']">
    Registrar Persona
  </button>
  <button
    mat-button
    class="item"
    [routerLink]="['registered-persons']">
    Lista de Personas Registradas
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="item-menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-item" [routerLink]="['']">
      <mat-icon>person_add</mat-icon>
      <span>Registrar Personas</span>
    </button>
    <button
      mat-menu-item
      class="menu-item"
      [routerLink]="['registered-persons']">
      <mat-icon>library_books</mat-icon>
      <span>Lista de Personas Registradas</span>
    </button>
  </mat-menu>
</mat-toolbar>
