/* For use in src/lib/core/theming/_palette.scss */
$primary-palette: (
    50 : #e0f3fb,
    100 : #b3e1f5,
    200 : #80cdef,
    300 : #4db8e8,
    400 : #26a9e3,
    500 : #009ade,
    600 : #0092da,
    700 : #0088d5,
    800 : #007ed1,
    900 : #006cc8,
    A100 : #f1f7ff,
    A200 : #beddff,
    A400 : #8bc3ff,
    A700 : #71b5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-palette: (
    50 : #ecf9ee,
    100 : #d0f0d4,
    200 : #b0e7b8,
    300 : #90dd9b,
    400 : #79d585,
    500 : #61ce70,
    600 : #59c968,
    700 : #4fc25d,
    800 : #45bc53,
    900 : #33b041,
    A100 : #f8fff9,
    A200 : #c5ffcb,
    A400 : #92ff9d,
    A700 : #79ff86,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
